<!DOCTYPE HTML>
<html>
	<head>
		@await Html.PartialAsync("MetatagsPartial")
        @await Html.PartialAsync("CssPartial")
    </head>
	<body class="is-preload">

		<!-- Content -->
    <div id="content">
        <div class="inner">
            @RenderBody()
            <div class="pagination">
                <!--<a href="#" class="button previous">Previous Page</a>-->
                <div class="pages">
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span>&hellip;</span>
                    <a href="#">20</a>
                </div>
                <a href="#" class="button next">Next Page</a>
            </div>
        </div>
    </div>	
			@await Html.PartialAsync("SidebarPartial")
    @await Html.PartialAsync("ScriptsPartial")
    </body>
</html>