<h2 class="reading">@ViewBag.Book.BookAuthor</h2>
<h2 class="reading">@ViewBag.Book.BookName</h2>

<div>   
    @foreach (string text in ViewBag.Data)
    {
        <h3 class="textOfBook">@text</h3>
    }
</div>