@model Books
@{
    ViewBag.Title = "Онлайн Книги";
}

<div>
    <h2>
        @Model.BookName
    </h2>
    <h2>
        @Model.BookAuthor
    </h2>
    <div>
        @*Здесь будет текст*@
    </div>
</div>