<div class="about-section">
    <h1 class="about-h1">Контакты</h1>
    <p>Я пишу сайты на языке C#.</p>
    <p>Подробную информацию обо мне можно узнать пониже.</p>
</div>

<div class="row">
    <div class="column_1">
        <div class="card">
            <img src="/images/mail.jpg" alt="Jane" style="width:100%">
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Мои контакты</h2>
                <p class="title">Эльвин Меджидов</p>
                <p>Mail: medzidov18.03@gmail.com</p>
                <p>GitHub: <a href="https://github.com/medzidov18">medzidov18</a></p>
                <p>Inst: <a href="https://instagram.com/u.nigga.be.trippin">u.nigga.be.trippin</a></p>
                <p>Telegram: ElvinBleedem</p>
            </div>
        </div>
    </div>
</div>