<div class="about-section">
    <h1 class="about-h1">Про меня</h1>
    <p>Я пишу сайты на языке C#.</p>
    <p>Подробную информацию обо мне можно узнать пониже.</p>
</div>

<h2 style="margin-top: 30px" class="about-h2">Это Я</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/images/Me.jpg" alt="Jane" style="width:100%">
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Меджидов Эльвин</h2>
                <p class="title">Backend C# developer</p>
                <p>Мне 18 лет, я учусь в Азербайджанском Государственном Университете Нефти и Промышленности (АГУНП) по специальности компьютерный инженер. 

                    Сначала я изучал С++, потом перешел на С# и остановился на нем как на основном языке, так же имею небольшой опыт в Python, Java, html/css. Я изучал С# по курсу Simple Code на ютубе (ссылки на все курсы оставлю ниже), потом прошел курс на юдеми от Ильи Фофанова, знаю MySQL, т.к. сдавал курсовую работу по базам данных. Проходил курс по соединению T-SQL и C# от Byte++, дальше после изучения основ, я перешел к ASP.NET Core MVC. Я начал проходить бесплатные курсы на ютубе по этим темам и на данный момент занимаюсь этим. Резюмируя, я знаю: Основы С#, ООП, LINQ Framework, События и делегаты, EntityFramework, T-SQL, MySQL, ASP.NET Core MVC основы, немного знаю WinForms, html/css основные понятия..</p>
                <p>medzidov18.03@gmail.com</p>
                <p>
                    <form class="delete-button">
                        <a asp-action="Contacts">Мои контакты </a>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>